<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>THE.GOV.GE - Thermal Helium Extraction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo"><span class="red">THE</span>.GOV.GE - <span class="red">T</span>hermal <span class="red">H</span>elium <span class="red">E</span>xtraction</h1>
        <nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('news') }}">News</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('contact') }}">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>

    {% block content %}
    {% endblock %}

  </body>
</html>
